:root {
  --white-color: #fff;
  --black-color: #000;
  --red-color: #f00;
  --fuchsia-color: #f0f;
  --yellow-color: #ff0;
  --aqua-color: #0ff;
  --lime-color: #0f0;
  --blue-color: #00f;
  --text-color: #333;
  --main-color: #3c599b;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
}
