* {
  font-size: 1.2rem;
}

.header {
  background-color: var(--main-color);
}

header a, a:hover, a:focus {
  text-decoration: none;
  color: var(--white-color);
}

.header__homepage {
  text-align: center;
}

.header__search-input {
  padding: 16px;
  font-size: 1.2rem;
}

.header__user-profile {
  text-align: end;
}

.header__user-avatar {
  width: 34px;
  height: 34px; 
  margin-right: 8px;
}

.header__user-link {
  color: var(--white-color);
  font-weight: bold;
}

.header__homepage-link {
  font-size: 3.2rem;
  font-weight: bold;
  color: var(--white-color);
}

.header__user-action {
  text-align: center;
}

.header__user-action-logout {
  color: var(--white-color);
  font-weight: bold;
}

.content {
  background-color: #f8f8f8;
}

.content__left {
  margin-top: 8px;
}

.content__mid {
  background-color: #fff;
}

.content__left-link {
  width: 52.66px;
  margin: 0px auto;
}

.content__left-link--active {
  color: var(--main-color) !important;
}

.content__left a {
  color: #8c8c8c;
  font-weight: bold;
}

.content__center {
  background-color: var(--white-color);
  margin-top: 8px;
}

.photo-album-button > a {
  background-color: var(--white-color);
  color: var(--main-color);
  font-weight: bold;
  border: 1px solid var(--main-color);
  padding: 4px;
}

.photo-album-button--active {
  background-color: var(--main-color) !important;
  color: var(--white-color) !important;
}

.photo-component__right {
  background-color: #eee;
  padding: 8px !important;
}

.photo-album-button {
  margin-top: 16px;
}

.content-body {
  margin-top: 8px;
  padding: 0px 8px;
}

.loading {
  margin-top: 8px;
}

.link-profile > a,
.link-profile > a:hover,
.link-profile > a:focus {
  font-weight: bold;
  text-decoration: none;
  color: var(--text-color);
}

.link-profile--active {
  color: var(--main-color) !important;
}

.btn-following a {
  border-radius: 28px;
  background-image: linear-gradient(#DC5D57, #FB9D4C);
  color: white;
  text-decoration: none;
}

label.error{
  color: red;
  font-weight: 100;
}

#msg{
  color: green;
  font-weight: 100;
}

#add-photo-icon:hover, #photo-remove:hover {
  cursor: pointer;
}

.photo-album {
  width: 160px;
  height: 160px;
  background-color: var(--text-color);
  border-radius: 2px;
}

#photo-album {
  width: 160px;
  height: 160px;
  background-color: var(--text-color);
  border-radius: 2px;
}

#add-photo-icon {
  color: var(--white-color);
  font-size: 5rem;
  font-weight: bold;
}

#photo-remove {
  top: 0px;
  right: 0px;
  width: 16px;
  height: 16px;
  color: var(--white-color);
  font-size: 1rem;
  font-weight: bold;
}

#edit-album-frm {
  width: 360px;
}