* {
  font-size: 1.2rem;
}

.header {
  background-color: var(--main-color);
}

header a, a:hover, a:focus {
  text-decoration: none;
  color: var(--white-color);
}

.header__homepage {
  text-align: center;
}

.header__search-input {
  padding: 16px;
  font-size: 1.2rem;
}

.header__user-profile {
  text-align: end;
}

.header__user-avatar {
  width: 34px;
  height: 34px; 
  margin-right: 8px;
}

.header__user-link {
  color: var(--white-color);
  font-weight: bold;
}

.header__homepage-link {
  font-size: 3.2rem;
  font-weight: bold;
  color: var(--white-color);
}

.header__user-action {
  text-align: center;
}

.header__user-action-logout {
  color: var(--white-color);
  font-weight: bold;
}

.content {
  background-color: #f8f8f8;
}

.content__left {
  margin-top: 8px;
}

.content__mid {
  background-color: #fff;
}

.content__left-link {
  width: 52.66px;
  margin: 0px auto;
}

.content__left-link--active {
  color: var(--main-color) !important;
}

.content__left a {
  color: #8c8c8c;
  font-weight: bold;
}

.content__center {
  background-color: var(--white-color);
  margin-top: 8px;
}

.photo-album-button > a {
  background-color: var(--white-color);
  color: var(--main-color);
  font-weight: bold;
  border: 1px solid var(--main-color);
  padding: 4px;
}

.photo-album-button--active {
  background-color: var(--main-color) !important;
  color: var(--white-color) !important;
}

.photo-component__right {
  background-color: #eee;
  padding: 8px !important;
}

.photo-album-button {
  margin-top: 16px;
}

.content-body {
  margin-top: 8px;
  padding: 0px 8px;
}

.loading {
  margin-top: 8px;
}

.link-profile > a,
.link-profile > a:hover,
.link-profile > a:focus {
  font-weight: bold;
  text-decoration: none;
  color: var(--text-color);
}

.link-profile--active {
  color: var(--main-color) !important;
}

.btn-following a {
  border-radius: 28px;
  background-image: linear-gradient(#DC5D57, #FB9D4C);
  color: white;
  text-decoration: none;
}

.figure > a,
.figure > a:hover,
.figure > a:focus {
  font-weight: bold;
  text-decoration: none;
  color: var(--text-color);
}
.block:hover {
  cursor: pointer;
}

.block {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: var(--white-color) !important;
}

.edit {
  font-size: 10px;
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  bottom: 24px;
  right: 4px;
  background-color: var(--white-color) !important;
}

.photo-img:hover {
  cursor: pointer;
}

.follower-component {
  border-radius: 2px;
  box-shadow: 0px 0px 5px 0px var(--text-color);
  text-align: center;
  padding: 8px 16px;
}