meta(charset='utf-8')
meta(name='author' content='TanDM - tandm@nustechnology.com')
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
meta(name='keywords' content='HTML|CSS|JS|Bootstrap|jQuery - NUS Technology NodeJS training.')
link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css')
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
link(rel='stylesheet' href='http://127.0.0.1:1024/stylesheets/base.css')
